<div class="container">
        <div class="col-lg-12">
            <div id="div_respuesta_servidor_contrato_buscar_modal" class="alert-info">
                <label id="label_respuesta_servidor_contrato_buscar_modal"></label>
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                <label for="">{% trans %}Numero{% endtrans %}</label><input id="numero_form_contrato_buscar_modal" name="numero_form_contrato_buscar_modal" type="text" size="6" placeholder="{% trans %}No filtrar{% endtrans %}">
            </div>
            <div class="col-lg-3">
                <label for="">{% trans %}Anno{% endtrans %}</label>
                <select id="anno_form_contrato_buscar_modal" name="anno_form_contrato_buscar_modal">
                    <option value="No filtrar">{% trans %}No filtrar{% endtrans %}</option>
                    {% for ultimo_anno in ultimos_annos_hasta_actual %}
                        <option value="{{ ultimo_anno }}">{{ ultimo_anno }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-3">
                <label for="">Proveedor</label><input id="proveedor_form_contrato_buscar_modal" name="proveedor_form_contrato_buscar_modal" type="text" placeholder="{% trans %}No filtrar{% endtrans %}">
            </div>
            <div class="col-lg-3">
                <label for="">{% trans %}Servicio{% endtrans %}</label>
                <select id="servicio_form_contrato_buscar_modal" name="servicio_form_contrato_buscar_modal">
                    <option value="No filtrar">{% trans %}No filtrar{% endtrans %}</option>
                    {% for servicio in servicios %}
                        <option value="{{ servicio.nombre }}">{{ servicio.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-12">
            <br>
            <input type="hidden" id="_token" name="_token" value="{{ csrf_token('contrato_buscar_modal') }}">
            <button id="btn_form_contrato_buscar_modal" class="btn btn-sm btn-primary border">{% trans %}Buscar{% endtrans %}</button>
            <label id="label_indicador_btn_form_contrato_buscar_modal" for=""></label>
            <br>
            <br>
        </div>
</div>

<script src="{{ asset('siscofac/vendors/components/jquery/jquery.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#div_respuesta_servidor_contrato_buscar_modal').hide();
        $('#btn_form_contrato_buscar_modal').click(function () {
            $('#div_respuesta_servidor_contrato_buscar_modal').hide();
            $('#btn_form_contrato_buscar_modal').prop('disabled',true);
            $('#label_indicador_btn_form_contrato_buscar_modal').text("Buscando...");
             $.ajax({
                type: "POST",
                url: "{{ path('contrato_buscar_modal_ajax') }}",
                data: {
                    numero_form_contrato_buscar_modal: $('#numero_form_contrato_buscar_modal').val(),
                    anno_form_contrato_buscar_modal: $('#anno_form_contrato_buscar_modal').val(),
                    proveedor_form_contrato_buscar_modal: $('#proveedor_form_contrato_buscar_modal').val(),
                    servicio_form_contrato_buscar_modal: $('#servicio_form_contrato_buscar_modal').val(),
                    _token: $('#_token').val(),
                },
                dataType: "json",
                success: function(data) {
                    var respuesta = data['data'];
                    var encontrado = data['encontrado'];

                    if(encontrado == "Si"){
                        var ruta =  '{{ path('contrato_show', {'id': 'identificador_del_contrato', 'destino':'contrato'}) }}';
                        ruta = ruta.replace("identificador_del_contrato", respuesta);
                        location.href = ruta;
                    }else{
                        $('#div_respuesta_servidor_contrato_buscar_modal').show();
                        $("#label_respuesta_servidor_contrato_buscar_modal").text(respuesta);
                    }
                },
                error: function() {
                    alert("Error al procesar");
                },
                complete: function() {
                    $('#btn_form_contrato_buscar_modal').prop('disabled',false);
                    $('#label_indicador_btn_form_contrato_buscar_modal').text("");
                }
            });
        });


    })
</script>