{{ form_start(form) }}

<div style="font-size: 75%;">
    <table class="table-bordered">
        <tbody>
        <tr>
            <td colspan="1">{{ form_row(form.numero) }}</td>
            <td colspan="1">{{ form_row(form.anno) }}</td>
            <td colspan="1">{{ form_row(form.fechaInicio) }}</td>
            <td colspan="1">{{ form_row(form.fechaTerminacion) }}</td>
        </tr>
        <tr>
            <td colspan="4"><div id="combo_proveedores">{{ form_row(form.proveedor) }}</div></td>
        </tr>
        <tr>
            <td colspan="1">
                {{ form_label(form.tipoDeServicio) }}
                {{ form_errors(form.tipoDeServicio) }}

                {% for tipoDeServicio in form.tipoDeServicio %}
                    <div>
                        {{ form_errors(tipoDeServicio) }}
                        {{ form_widget(tipoDeServicio) }}
                        {{ form_label(tipoDeServicio) }}
                    </div>
                {% endfor %}
            </td>
            <td colspan="2">{{ form_row(form.objeto) }}</td>
            <td colspan="1">
                {{ form_row(form.formaDePago) }}
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="2">
                {{ form_label(form.tipoDePersona) }}
                {{ form_errors(form.tipoDePersona) }}

                {% for tipoDePersona in form.tipoDePersona %}
                    <div>
                        {{ form_errors(tipoDePersona) }}
                        {{ form_widget(tipoDePersona) }}
                        {{ form_label(tipoDePersona) }}
                    </div>
                {% endfor %}
            </td>
            <td colspan="1" rowspan="1">
                {{ form_row(form.nit) }}               
            </td>
            <td colspan="1" rowspan="1">                
                {{ form_row(form.reeup) }}                
            </td>
            <td colspan="1" rowspan="1">                
                {{ form_row(form.carnetIdentidad) }}
            </td>                        
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                {{ form_row(form.cuentaBancariaCup) }}                
            </td>
            <td colspan="1" rowspan="1">   
                {{ form_row(form.cuentaBancariaCuc) }}
            </td>
            <td colspan="1" rowspan="1">
                {{ form_row(form.banco) }}
            </td>
        </tr>
        <tr>
            <td colspan="1">
                {{ form_row(form.valorContratoInicialCup) }}
                
                {{ form_row(form.valorContratoInicialCuc) }}
            </td>
            <td colspan="1">
                {{ form_row(form.valorContratoTotalCup) }}
                
                {{ form_row(form.valorContratoTotalCuc) }}
            </td>
            <td colspan="1">
                {{ form_row(form.ejecucionContratoCup) }}
                
                {{ form_row(form.ejecucionContratoCuc) }}
            </td>
            <td colspan="1">
                {{ form_row(form.saldoCup) }}
                
                {{ form_row(form.saldoCuc) }}
            </td>
        </tr>
        <tr>
            <td colspan="1"><span>{% trans %}Comprobacion Contrato{% endtrans %}</span></td>
            <td colspan="1">
                <label>{% trans %}Acuerdo{% endtrans %}:</label><label>{% trans %}Comite de Contratacion{% endtrans %}</label>
                <br>
                <span>
                    {% trans %}Numero{% endtrans %}
                    {{ form_errors(form.numeroAprobContratoComiteContratacion) }}
                    {{ form_widget(form.numeroAprobContratoComiteContratacion) }}
                    {% trans %}Fecha{% endtrans %}
                    {{ form_errors(form.fechaAprobContratoComiteContratacion) }}
                    {{ form_widget(form.fechaAprobContratoComiteContratacion) }}
                </span>

            </td>
            <td colspan="1">
                <label>{% trans %}Acuerdo{% endtrans %}:</label><label>{% trans %}Comite de Administracion{% endtrans %}</label>
                <br>
                <span>
                    {% trans %}Numero{% endtrans %}
                    {{ form_errors(form.numeroAprobContratoComiteAdministracion) }}
                    {{ form_widget(form.numeroAprobContratoComiteAdministracion) }}
                    {% trans %}Fecha{% endtrans %}
                    {{ form_errors(form.fechaAprobContratoComiteAdministracion) }}
                    {{ form_widget(form.fechaAprobContratoComiteAdministracion) }}
                </span>                
            </td>
            <td colspan="1">
                {{ form_label(form.areaAdministraContrato) }}
                {{ form_errors(form.areaAdministraContrato) }}
                <br>
                {{ form_widget(form.areaAdministraContrato) }}
            </td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td colspan="1">
                {{ form_row(form.estado) }}
            </td>
            <td colspan="3">
                {{ form_row(form.motivoEstado) }}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-sm btn-success">{{ button_label|default('Guardar')|trans}}</button>

{{ form_end(form) }}