<!--Modal dinamica-->

<div id="modal_nuevo_proveedor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_nuevo_proveedorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_nuevo_proveedorLabel">{% trans %}Adicionar{% endtrans %} {% trans %}Nuevo{% endtrans %} {% trans %}Proveedor{% endtrans %}</h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller(
                    'App\\Controller\\NomProveedorController::new_modal'
                )) }}
            </div>
        </div>
    </div>
</div>

<div id="modal_nuevo_banco" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_nuevo_bancoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_nuevo_bancoLabel">{% trans %}Adicionar{% endtrans %} {% trans %}Nuevo{% endtrans %} {% trans %}Banco{% endtrans %}</h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller(
                    'App\\Controller\\NomBancoController::new_modal'
                )) }}
            </div>
        </div>
    </div>
</div>

<div id="modal_nueva_area" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_nueva_areaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_nueva_areaLabel">{% trans %}Adicionar{% endtrans %} {% trans %}Nueva{% endtrans %} {% trans %}Area{% endtrans %}</h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller(
                    'App\\Controller\\NomAreaController::new_modal'
                )) }}
            </div>
        </div>
    </div>
</div>

<div id="modal_buscar_contrato" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_buscar_contratoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_buscar_contratoLabel">{% trans %}Buscar{% endtrans %} {% trans %}Contrato{% endtrans %} </h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller(
                    'App\\Controller\\ContratoController::contrato_buscar_modal'
                )) }}
            </div>
        </div>
    </div>
</div>

<div id="modal_modificar_contrato" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_modificar_contratoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_modificar_contratoLabel">{% trans %}Modificar{% endtrans %} {% trans %}Contrato{% endtrans %} </h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller(
                    'App\\Controller\\ContratoController::contrato_modificar_modal'
                )) }}
            </div>
        </div>
    </div>
</div>

<div id="modal_suplemento" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_sumplementoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_suplementoLabel">{% trans %}Suplemento{% endtrans %}</h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller(
                    'App\\Controller\\ContratoController::suplemento_modal'
                )) }}
            </div>
        </div>
    </div>
</div>

<div id="modal_factura" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_facturaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_facturaLabel">{% trans %}Ejecucion{% endtrans %}</h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller(
                    'App\\Controller\\ContratoController::factura_modal'
                )) }}
            </div>
        </div>
    </div>
</div>