{% extends 'base.html.twig' %}

{% block title %}NomProveedor index{% endblock %}

{% block body %}
    <h1>NomProveedor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Provincia</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nom_proveedor in nom_proveedors %}
            <tr>
                <td>{{ nom_proveedor.id }}</td>
                <td>{{ nom_proveedor.provincia }}</td>
                <td>{{ nom_proveedor.direccion }}</td>
                <td>{{ nom_proveedor.telefono }}</td>
                <td>{{ nom_proveedor.correo }}</td>
                <td>
                    <a href="{{ path('nom_proveedor_show', {'id': nom_proveedor.id}) }}">show</a>
                    <a href="{{ path('nom_proveedor_edit', {'id': nom_proveedor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nom_proveedor_new') }}">Create new</a>
{% endblock %}