{% extends 'base.html.twig' %}

{% block title %}NomProvincia index{% endblock %}

{% block body %}
    <h1>NomProvincia index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nom_provincium in nom_provincias %}
            <tr>
                <td>{{ nom_provincium.id }}</td>
                <td>{{ nom_provincium.nombre }}</td>
                <td>
                    <a href="{{ path('nom_provincia_show', {'id': nom_provincium.id}) }}">show</a>
                    <a href="{{ path('nom_provincia_edit', {'id': nom_provincium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nom_provincia_new') }}">Create new</a>
{% endblock %}