{% extends 'base_escritorio.html.twig' %}

{% block title %}{% trans %}Listar{% endtrans %} {% trans %}Suplemento{% endtrans %} {% trans %}Comite de contratacion{% endtrans %}{% endblock %}

{% block  header %}
    {% trans %}Listar{% endtrans %} {% trans %}Suplemento{% endtrans %} {% trans %}Comite de contratacion{% endtrans %}
{% endblock %}

{% block  breadscrum %}
    <div class="breadcrumb-item">{% trans %}Suplemento{% endtrans %} {% trans %}Comite de contratacion{% endtrans %}</div>
    <div class="breadcrumb-item">{% trans %}Listar{% endtrans %} {% trans %}Suplemento{% endtrans %} {% trans %}Comite de contratacion{% endtrans %}</div>
{% endblock %}


{% block body %}
    <div class="row">
    <div class="form-control">

        {% for message in app.flashes('notice') %}
            <div class="alert-info">
                {{ message |trans}}
            </div>
        {% endfor %}

        {% include 'suplemento_comite_contratacion/botones_suplemento_comite_contratacion.html.twig' %}
        {% include 'suplemento_comite_contratacion/ventana_modal.html.twig' %}

    {% if suplemento_comite_contratacions | length == 0%}
        <div class="col-lg-12">
            <p class="alert-info">{% trans %}No se encontraron registros{% endtrans %}</p>
        </div>
    {% else %}
        {% set activo1 = " active" %}
            {% set activo = "true" %}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for suplemento_comite_contratacion1 in suplemento_comite_contratacions %}
                <li class="nav-item">
                    <a class="nav-link{{ activo1 }}" id="contrato_{{ suplemento_comite_contratacion1.id }}_link" data-toggle="tab" href="#contrato_{{ suplemento_comite_contratacion1.id }}" role="tab" aria-controls="contrato_{{ suplemento_comite_contratacion1.id }}" aria-selected="{{ activo }}">Propuesta {{ suplemento_comite_contratacion1.numero }} ({{ suplemento_comite_contratacion1.contrato }})</a>
                </li>
                {% set activo1 = "" %}
                {% set activo = "false" %}
            {% endfor %}
            </ul>

            <div class="tab-content" id="myTabContent">
            {% set activo = " show active" %}
            {% for suplemento_comite_contratacion in suplemento_comite_contratacions %}
               <div class="form-control tab-pane fade{{ activo }}" id="contrato_{{ suplemento_comite_contratacion.id }}" role="tabpanel" aria-labelledby="contrato_{{ suplemento_comite_contratacion.id }}">
                <table>
                    <tbody>
                        <tr>
                            <th>{% trans %}Contrato{% endtrans %}</th>
                            <td>{{ suplemento_comite_contratacion.contrato }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}Numero{% endtrans %}</th>
                            <td>{{ suplemento_comite_contratacion.numero }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}Objeto{% endtrans %}</th>
                            <td>{{ suplemento_comite_contratacion.objeto }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}Valor suplemento Cup{% endtrans %}</th>
                            <td>{{ suplemento_comite_contratacion.valorCup }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}Valor suplemento Cuc{% endtrans %}</th>
                            <td>{{ suplemento_comite_contratacion.valorCuc }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}Acciones{% endtrans %}</th>
                            <td>
                                <a class="btn-sm btn-success" href="{{path('suplemento_comite_contratacion_aprobar',{'id': suplemento_comite_contratacion.id})}}">Aprobar</a>
                                <a class="btn-sm btn-danger" href="{{path('suplemento_comite_contratacion_denegar',{'id': suplemento_comite_contratacion.id})}}">Denegar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                {% set activo = "" %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}