{% extends 'base.html.twig' %}

{% block title %}{% trans %}Configurar{% endtrans %} {% trans %}Notificacion{% endtrans %}{% endblock %}

{% block body %}
    <div class="container small">
        <h5>{% trans %}Configurar{% endtrans %} {% trans %}Notificacion{% endtrans %}</h5>

        {% for message in app.flashes('notice') %}
            <div class="alert-info">
                {{ message |trans}}
            </div>
        {% endfor %}
        <br>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button class="btn btn-sm btn-success">{{ button_label|default('Guardar')|trans}}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
