{% extends 'base_escritorio.html.twig' %}

{% block title %}{% trans %}Mostrar{% endtrans %} {% trans %}Factura{% endtrans %}{% endblock %}

{% block  header %}
    {% trans %}Adicionar{% endtrans %} {% trans %}Factura{% endtrans %}
{% endblock %}

{% block  breadscrum %}
    <div class="breadcrumb-item">{% trans %}Contrato{% endtrans %}</div>
    <div class="breadcrumb-item">{% trans %}Factura{% endtrans %}</div>
    <div class="breadcrumb-item">{% trans %}Mostrar{% endtrans %} {% trans %}Factura{% endtrans %}</div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="form-control">
            {% include 'contrato/botones_factura.html.twig' %}
            {% include 'contrato/ventana_modal.html.twig' %}
            {% for message in app.flashes('notice') %}
                <div class="alert-info">
                    {{ message |trans}}
                </div>
            {% endfor %}
            <br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>{% trans %}Contrato{% endtrans %}</th>
                        <td>{{ contrato }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Proveedor{% endtrans %}</th>
                        <td>{{ proveedor }} - {{ provincia }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Numero de registro{% endtrans %}</th>
                        <td>{{ factura.numeroRegistro }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}No. de Factura del Proveedor{% endtrans %}</th>
                        <td>{{ factura.numeroDelProveedor }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Fecha{% endtrans %}</th>
                        <td>{{ factura.fecha ? factura.fecha|date('d-m-Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Tipo Servicio{% endtrans %}</th>
                        <td>{{ tipos_de_servicios[factura.tipoServicio] }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Concepto{% endtrans %}</th>
                        <td>{{ factura.concepto }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Valor Cup{% endtrans %}</th>
                        <td>{{ factura.valorCup }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Valor Cuc{% endtrans %}</th>
                        <td>{{ factura.valorCuc }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Estado{% endtrans %}</th>
                        <td>
                            {% if factura.estado == 0 %}
                                <span>No Pagado</span>
                            {% else %}
                                <span>Pagado</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans %}Numero Cheque{% endtrans %}</th>
                        <td>{{ factura.numeroCheque }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Fecha Cheque{% endtrans %}</th>
                        <td>{{ factura.fechaCheque ? factura.fechaCheque|date('d-m-Y') : '' }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}