<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--The responsive viewport meta tag-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ getNombreAplicacion() }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
        <link rel="stylesheet" href="{{ asset('build/css/siscofac.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Menu de navegacion-->
        {% include 'principal/menu.html.twig' %}

        {% block body %}{% endblock %}

        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
