<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--The responsive viewport meta tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ getNombreAplicacion() }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/css/siscofac.css') }}" />
    <style type="text/css">
        .fondo_escritorio{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: url({{ asset('siscofac/img/perucho-figueredo.jpg') }}) no-repeat center center /cover;
            content: '';
            -webkit-filter: opacity(40%);
            -moz-filter: opacity(40%);
            -o-filter: opacity(40%);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
            filter: alpha(opacity=40);
            z-index: -1;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="fondo_escritorio"></div>
<!-- Menu de navegacion-->
{% include 'principal/menu_escritorio.html.twig' %}

<div class="container">
    <div class="container row breadcrumb">
        <div class="breadcrumb-item">Inicio</div>
        {% block  breadscrum %}{% endblock %}
    </div>
    <div class="row form-text bg-white border-bottom">
        <h4>{% block  header %}{% endblock %}</h4>
    </div>
    <div class="row bg-white">
        <div class="separador_header_y_body container"></div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/vendor.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>
</html>