{% extends 'base_escritorio.html.twig' %}

{% block title %}{% trans %}Listar{% endtrans %} {% trans %}Contratos{% endtrans %} {% trans %}Comite de contratacion{% endtrans %}{% endblock %}

{% block  header %}
    {% trans %}Listar{% endtrans %} {% trans %}Contratos{% endtrans %} {% trans %}Comite de contratacion{% endtrans %}
{% endblock %}

{% block  breadscrum %}
    <div class="breadcrumb-item">{% trans %}Contratos{% endtrans %} {% trans %}Comite de contratacion{% endtrans %}</div>
    <div class="breadcrumb-item">{% trans %}Listar{% endtrans %} {% trans %}Contratos{% endtrans %} {% trans %}Comite de contratacion{% endtrans %}</div>
{% endblock %}


{% block body %}
    <div class="row">
    <div class="form-control">

        {% for message in app.flashes('notice') %}
            <div class="alert-info">
                {{ message |trans}}
            </div>
        {% endfor %}

        {% include 'contrato_comite_contratacion/botones_contrato_comite_contratacion.html.twig' %}
        {% include 'contrato_comite_contratacion/ventana_modal.html.twig' %}

        {% if contrato_comite_contratacions | length == 0%}
        <div class="col-lg-12">
            <p class="alert-info">{% trans %}No se encontraron registros{% endtrans %}</p>
        </div>
        {% else %}
            {% set activo1 = " active" %}
            {% set activo = "true" %}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for contrato_comite_contratacion1 in contrato_comite_contratacions %}
                <li class="nav-item">
                    <a class="nav-link{{ activo1 }}" id="contrato_{{ contrato_comite_contratacion1.orden }}_link" data-toggle="tab" href="#contrato_{{ contrato_comite_contratacion1.orden }}" role="tab" aria-controls="contrato_{{ contrato_comite_contratacion1.orden }}" aria-selected="{{ activo }}">Propuesta {{ contrato_comite_contratacion1.orden }}</a>
                </li>
                {% set activo1 = "" %}
                {% set activo = "false" %}
            {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% set activo = " show active" %}
            {% for contrato_comite_contratacion in contrato_comite_contratacions %}
               <div class="form-control tab-pane fade{{ activo }}" id="contrato_{{ contrato_comite_contratacion.orden }}" role="tabpanel" aria-labelledby="contrato_{{ contrato_comite_contratacion.orden }}">
                    <table>
                        <tbody>
                            <tr>
                                <th>{% trans %}Orden{% endtrans %}</th>
                                <td>{{ contrato_comite_contratacion.orden }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Proveedor{% endtrans %}</th>
                                <td>{{ contrato_comite_contratacion.proveedor }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Tipo de servicio{% endtrans %}</th>
                                <td>{{ contrato_comite_contratacion.tipoDeServicio }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Objeto{% endtrans %}</th>
                                <td>{{ contrato_comite_contratacion.objeto }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Valor contrato inicial cup{% endtrans %} CUP</th>
                                <td>{{ contrato_comite_contratacion.valorContratoInicialCup }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Valor contrato inicial cuc{% endtrans %} CUC</th>
                                <td>{{ contrato_comite_contratacion.valorContratoInicialCuc }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Area administra contrato{% endtrans %}</th>
                                <td>{{ contrato_comite_contratacion.areaAdministraContrato }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Fecha de reunion{% endtrans %}</th>
                                <td>{{ contrato_comite_contratacion.fechaDeReunion ? contrato_comite_contratacion.fechaDeReunion|date('d-m-Y') : '' }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Acciones{% endtrans %}</th>
                                <td>
                                    <a class="btn-sm btn-success" href="{{path('contrato_comite_contratacion_aprobar',{'id': contrato_comite_contratacion.id})}}">Aprobar</a>
                                    <a class="btn-sm btn-danger" href="{{path('contrato_comite_contratacion_denegar',{'id': contrato_comite_contratacion.id})}}">Denegar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% set activo = "" %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}