{{ form_start(form) }}
    <label>Contrato: </label> <label><b>{{ contrato }}</b></label>
    {{ form_widget(form) }}
<br>
<button class="btn btn-sm btn-success">{{ button_label|default('Guardar')|trans}}</button>
{{ form_end(form) }}