{% extends 'base_escritorio.html.twig' %}

{% block title %}{% trans %}Editar{% endtrans %} {% trans %}Suplemento{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('siscofac/vendors/eternicode/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css') }}" />
{% endblock %}

{% block  header %}
    {% trans %}Editar{% endtrans %} {% trans %}Suplemento{% endtrans %}
{% endblock %}

{% block  breadscrum %}
    <div class="breadcrumb-item">{% trans %}Contrato{% endtrans %}</div>
    <div class="breadcrumb-item">{% trans %}Suplemento{% endtrans %}</div>
    <div class="breadcrumb-item">{% trans %}Editar{% endtrans %} {% trans %}Suplemento{% endtrans %}</div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="form-control">
            {% include 'contrato/botones_suplemento.html.twig' %}
            {% include 'contrato/ventana_modal.html.twig' %}
            {% for message in app.flashes('notice') %}
                <div class="alert-info">
                    {{ message |trans}}
                </div>
            {% endfor %}
            <br>
            {{ include('suplemento/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('siscofac/vendors/components/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('siscofac/vendors/eternicode/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('siscofac/vendors/eternicode/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var configuracion_datepicker = {
                language: "es",
                format: "dd-mm-yyyy",
                todayBtn: true,
                //startDate: "today"
            };
            $('#suplemento_fechaInicio').datepicker(configuracion_datepicker);
            $('#suplemento_fechaTerminacion').datepicker(configuracion_datepicker);
            $('#suplemento_fechaAcuerdo').datepicker(configuracion_datepicker);
        });
    </script>
{% endblock %}