{% extends 'base.html.twig' %}

{% block title %}Suplemento index{% endblock %}

{% block body %}
    <h1>Suplemento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>FechaInicio</th>
                <th>FechaTerminacion</th>
                <th>Acuerdo</th>
                <th>Contrato</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suplemento in suplementos %}
            <tr>
                <td>{{ suplemento.id }}</td>
                <td>{{ suplemento.numero }}</td>
                <td>{{ suplemento.fechaInicio ? suplemento.fechaInicio|date('Y-m-d') : '' }}</td>
                <td>{{ suplemento.fechaTerminacion ? suplemento.fechaTerminacion|date('Y-m-d') : '' }}</td>
                <td>{{ suplemento.acuerdo }}</td>
                <td>{{ suplemento.contrato }}</td>
                <td>
                    <a href="{{ path('suplemento_show', {'id': suplemento.id}) }}">show</a>
                    <a href="{{ path('suplemento_edit', {'id': suplemento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('suplemento_new') }}">Create new</a>
{% endblock %}