{% extends 'base.html.twig' %}

{% block title %}NomBanco index{% endblock %}

{% block body %}
    <h1>NomBanco index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nom_banco in nom_bancos %}
            <tr>
                <td>{{ nom_banco.id }}</td>
                <td>{{ nom_banco.nombre }}</td>
                <td>
                    <a href="{{ path('nom_banco_show', {'id': nom_banco.id}) }}">show</a>
                    <a href="{{ path('nom_banco_edit', {'id': nom_banco.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nom_banco_new') }}">Create new</a>
{% endblock %}