{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-sm btn-success">{{ button_label|default('Guardar')|trans }}</button>
<a class="btn btn-sm btn-primary" href="{{ path('nom_tipo_servicio_index') }}">{% trans %}Listar{% endtrans %}</a>
{{ form_end(form) }}