{% extends 'base.html.twig' %}

{% block title %}NomEstadoFactura{% endblock %}

{% block body %}
    <h1>NomEstadoFactura</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nom_estado_factura.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ nom_estado_factura.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nom_estado_factura_index') }}">back to list</a>

    <a href="{{ path('nom_estado_factura_edit', {'id': nom_estado_factura.id}) }}">edit</a>

    {{ include('nom_estado_factura/_delete_form.html.twig') }}
{% endblock %}